body {    
    background: #439899;
    /* Imported from Google Fonts */
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #FFCC5F;
}

header img {
    position: relative;
    width: 200px;
    height: 100px;
    vertical-align: top;
    box-sizing: border-box;
}

.custom-box-nav {
    position: relative;
}

nav {
    position: absolute;
    top: 40%;
    right: 5%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #F0533F;
    /* text-shadow: 2px 2px 2px #000000; */
}

nav a:hover {
    color: #F0533F;
}

form {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin: 0 auto;
}

form label, p {
    display: block;
    margin: 15px 0;
}

/* Custom Form Design */
.custom-form-dft-input {
    position: relative;
    display: block;
    margin: 10px auto;
    font-size: 17px;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
}

.custom-form-dft-btn {
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
    color: #439899;
    width: 55%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    transition: 400ms all;
}

.custom-form-dft-btn:hover {
    cursor: pointer;
    background: #9BD1E5;
    color: #ffffff;
    /* increase the element size */
    transform: scale(1.1);    
}

/* Custom Products Presentation */
.custom-products {
    color: #ffffff;
    margin: 0 auto;
}

.custom-products img {
    width: 80px;
    height: 80px;
    margin: 5%;
    opacity: 0.5;
    transition: 400ms all;
}

.custom-products li {
    text-align: center;
    background: linear-gradient(#439899, #9BD1E5);
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 0.4%;
    padding: 1em 1em;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 10px;
    transition: 400ms all;
    box-shadow: 10px 10px 10px 0 #000000;
}

.custom-products li:hover {
    border: 4px solid #FFCC5F;
    cursor: pointer;
}

/* change the opacity of image */
.custom-products li:hover > img {
    opacity: 1;
}

.custom-products h2 {
    font-size: 20px;
    font-weight: bold;
}

.custom-products-description {
    font-size: 16px;
}

.custom-products-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* Custom Content Sections */
.custom-main-data {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 1em 0 0;
}

/* CSS Advanced Selectors */
.custom-main-data > p {
    /* get first p on this class */
    font-size: 20px;
}

.custom-main-data li {
    line-height: 1.5em;
}

.custom-main-data li:first-child {
    font-weight: bold;
}

.custom-main-data li:last-child {
    font-weight: bold;
}

.custom-main-data > ul > li:before {
    content: " 🗸 ";
    font-size: 0.7em;
 }

/* .custom-main-data p:not(#test) {
    background: yellow;
} */

.custom-box-data {
    width: 940px;
    margin: 1em auto;    
    text-align: center;
}

/* Custom Main Data */
.custom-main-data h1 {
    font-size: 2em;
    margin: 0 0 0.8em;
    font-weight: bold;
}

.custom-main-data p {
    margin: 0 0 1em;
}

.custom-main-data strong {
    font-weight: bold;
}

.custom-main-data em {
    font-style: italic;
}

/* Custom Tables */
.custom-table-primary {
    font-size: 18px;
    margin: 5% auto 8%;
    width: 55%;
    text-align: center;
    border: none;
}

.custom-table-primary thead {
    background: #ffffff;
    color: #439899;
    font-weight: bold;
}

.custom-table-primary tbody {
    color: #ffffff;
    font-weight: bold;
}

.custom-table-primary tfoot {
    background: #ffffff;
    color: #439899;
    font-weight: bold;
}

.custom-table-primary td, th {
    border: solid #ffffff;
    border-radius: 2px;
    padding: 0.5% 0;
}

/* Custom Map Style */
.custom-map {
    width: 80%;
    height: 350px;
    border: 0;
}

/* Footer Definition */
footer {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    background: #FFCC5F;
    width: 100%;
    height: 50px;
    color: #ffffff;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    body {
        width: auto;
    }

    nav {
        position: static;
    }

    header {
        width: 100%;
        text-align: center;
        padding: 10px 5px;
    }

    footer {
        width: 100%
        ;
    }


}